@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus,
*:active,
button, 
button:focus, 
button:active {
  outline:none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.skeleton-pulse {
  @apply bg-blueGray-200 dark:bg-blueGray-700 animate-pulse
}

.tag-list-item {
  @apply py-small px-2 rounded-full bg-blueGray-200 text-blueGray-500 dark:bg-blueGray-800 text-xs
}

.test-8 {
  @apply w-8  
}
.test-10 {
  @apply w-10  
}
.test-12 {
  @apply w-12  
}
.test-14 {
  @apply w-14  
}
.test-16 {
  @apply w-16
}
.test-1 {
  @apply w-18  
}
.test-2 {
  @apply w-22 
}
.test-3 {
  @apply  w-26 
}
.test-4 {
  @apply  w-30  
}
.test-5 {
  @apply  w-34
}
.test-6 {
  @apply  w-38 
}
